/* .whole
{
  background-image: url("../../Assets/Group 80.png");
}
.Re24
{
  position: absolute;
  left: 96px;
  right: 1104px;
  top: 3331px;
  bottom: 5156px;
  background: #E9280B;  
}
.G80
{
position: absolute;
width: 1262px;
height: 1215px;
left: 250px;
top: 2974px;
}
.Dot
{
  position: absolute;
  width: 400px;
  height: 192.91px;
  left: -104px;
  top: 2930px;
}
.Heading
{
  position: absolute;
  left: 96px;
  right: 1022px;
  top: 3349px;
  bottom: 5114px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 72px;
  color: white
}
.Paragraph
{
  position: absolute;
left: 96px;
right: 666px;
top: 3465px;
bottom: 4710px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 36px;
color:#B3B3B3;
} */